@model Movies_MVC_6.Models.MovieViewModels.MovieIndexData

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table @*class="table"*@>
    <thead>
        <tr >
            <th>
               Name
            </th>
            <th>
                Sinopse
            </th>
            <th>
                YoutubeLink
            </th>
            <th>
                Director
            </th>
            <th>
                FeaturedSong
            </th>
            <th>
                BoxOffice
            </th>
            <th>
                Cinematography
            </th>
            <th>
                Awards
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td id="SinopseScroll" class="SinopseScrollBox">
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.YoutubeLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeaturedSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinematography)
            </td>
            <td>
                @foreach (var award in item.MovieAward)
                {
                    @award.Award.Type 
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.MovieID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
