@model IEnumerable<Movies_MVC_6.Models.MovieAward>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Award)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Award.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieAwardID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieAwardID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieAwardID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
